body {
    margin: 0;
}

.init-screen {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #000;
}

.init-screen video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .25;
}

.init-screen .intro {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
}

.init-screen .intro .photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    margin: auto auto 30px auto;
    background-image: url("../img/me.png");
    background-size: cover;
    border: 2px solid #FFF;
}

.init-screen .short-bio {
    font-family: 'Roboto Thin', sans-serif;
    font-size: 35px;
    line-height: 43px;
    color: #FFF;
    text-align: center;
}

.init-screen .about-me {
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.5vh;
    margin: auto;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 15px;
    color: #FFF;
    text-align: center;
    opacity: .5;
}

.init-screen .about-me .down-arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.init-screen .about-me:hover {
    opacity: 1;
}

.init-screen-filling {
    margin-top: 100vh;
}

.init-screen .linkedin-profile {
    top: 15px;
    right: 15px;
    position: absolute;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 14px;
    color: #FFF;
    opacity: .75;
}

.init-screen .linkedin-profile img {
    top: 2px;
    right: 2px;
    position: relative;
}

.init-screen .linkedin-profile:hover {
    opacity: 1;
}

.bio {
    width: 60vw;
    margin: auto;
    padding: 35px 0 35px 0;
}

.bio span.title {
    font-family: 'Roboto Black', sans-serif;
    font-size: 38px;
    line-height: 46px;
}

.bio span.description {
    font-family: 'Roboto Light', sans-serif;
    font-size: 20px;
    line-height: 28px;
}

.skills {
    width: 60vw;
    margin: auto;
    padding: 35px 0 35px 0;
}

.skills span.title {
    font-family: 'Roboto Black', sans-serif;
    font-size: 38px;
    line-height: 46px;
}

.skills span.subtitle {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 24px;
    line-height: 0;
}

.skills .skill {
    width: 18vw;
    float: left;
    margin-right: 2vw;
    margin-bottom: 1vw;
}

.skills .skill .label {
    font-family: 'Roboto Light', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.skills .skill .progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

.skills .skill .progress-bar .filling {
    height: 10px;
    border-radius: 5px;
}

.skills .pusher {
    width: 100%;
    height: 25px;
    clear: both;
}

.work-experience {
    width: 60vw;
    margin: auto;
    padding: 35px 0 35px 0;
}

.work-experience span.title {
    font-family: 'Roboto Black', sans-serif;
    font-size: 38px;
    line-height: 46px;
}

.formal-learning {
    width: 60vw;
    margin: auto;
    padding: 35px 0 35px 0;
}

.formal-learning span.title {
    font-family: 'Roboto Black', sans-serif;
    font-size: 38px;
    line-height: 46px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #EEE;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
}

.timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -14px;
    background-color: #EEE;
    border: 2px solid #DDD;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline .left {
    left: 0;
}

.timeline .right {
    left: 50%;
}

.timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #EEE;
}

.timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #EEE transparent transparent;
}

.timeline .right::after {
    left: -16px;
}

.timeline .container .content {
    padding: 30px 30px;
    background-color: #EEE;
    position: relative;
    border-radius: 6px;
}

.timeline .container .content span.job {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.timeline .container .content span.commpany {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.timeline .container .content span.description {
    font-family: 'Roboto Light', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.timeline .container .content span.period {
    font-family: 'Roboto Light', sans-serif;
    font-size: 12px;
    line-height: 20px;
    float: right;
}

.footer {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-color: #000000;
}

.footer video {
    position:relative;
    z-index: 0;
    width: 100%;
    transform: translate(0%, -100px);
    opacity: .15;
}

.footer .contact-me {
    position: absolute;
    top: 0;
    left: 20vw;
    z-index: 1;
    width: 60vw;
    padding-top: 150px;
    text-align: center;
}

.footer .contact-me .future-together {
    width: 40vw;
    margin: 0 auto 50px auto;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 54px;
    line-height: 62px;
    color: #FFFFFF;
    border: dotted 5px #FFFFFF;
}

.footer .contact-me span {
    font-family: 'Reoboto Regular', sans-serif;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}

.md-48 {
    position: relative;
    top: 4px;
}